{% extends 'base.html.twig' %}

{% block title %}TaskList index{% endblock %}

{% block body %}
    <h1>TaskList index</h1>
    <div class="row">{{ include('task_list/_form.html.twig') }}</div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Task(s)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task_list in task_lists %}
            <tr>
                <td>{{ task_list.id }}</td>
                <td>{{ task_list.name }}</td>
                <td>
                    {% if task_list.tasks  is not null %}
                        {{ task_list.tasks | length }}
                    {% else %}
                        Aucune Tâche
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_task_list_show', {'name': task_list.name}) }}">show</a>
                    <a href="{{ path('app_task_list_edit', {'name': task_list.name}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_list_new') }}">Create new</a>
{% endblock %}
